<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Web restaurant submission 1 FWDE Dicoding by Arnold Armando Suwuh"
    />

    <title>Dapoer Jadoel</title>
    <link rel="shortcut icon" href="/images/logo/logo.png" />

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- START: Skip Content -->
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <!-- END: Skip Content -->

    <!-- START: Navigation -->
    <navbar-section></navbar-section>
    <!-- END: Navigation -->

    <!-- START: Hero -->
    <hero-section></hero-section>
    <!-- END: Hero -->

    <!-- START: Content -->
    <main id="maincontent">
      <section class="content">
        <div class="restaurants-card">
          <div tabindex="0" class="restaurants-label"><h2>Restaurant</h2></div>
          <div class="card-content" id="restaurants"></div>
        </div>
      </section>
    </main>
    <!-- END: Content -->

    <!-- START: Footer -->
    <footer-section></footer-section>
    <!-- END: Footer -->
  </body>
</html>
